<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <!-- Quick Links Column -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#home" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="#about" class="text-white text-decoration-none">About</a></li>
                    <li><a href="#services" class="text-white text-decoration-none">Services</a></li>
                    <li><a href="#contact" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <!-- Social Media Column -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase mb-3">Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://facebook.com" class="text-white text-decoration-none"><i class="fab fa-facebook fa-lg"></i> Facebook</a></li>
                    <li><a href="https://twitter.com" class="text-white text-decoration-none"><i class="fab fa-twitter fa-lg"></i> Twitter</a></li>
                    <li><a href="https://instagram.com" class="text-white text-decoration-none"><i class="fab fa-instagram fa-lg"></i> Instagram</a></li>
                    <li><a href="https://linkedin.com" class="text-white text-decoration-none"><i class="fab fa-linkedin fa-lg"></i> LinkedIn</a></li>
                </ul>
            </div>

            <!-- Contact Information Column -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase mb-3">Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:contact@yourwebsite.com" class="text-white text-decoration-none">contact@yourwebsite.com</a></li>
                    <li>Phone: <a href="tel:+18001234567" class="text-white text-decoration-none">+1 (800) 123-4567</a></li>
                    <li>Address: 123 Street, City, Country</li>
                </ul>
            </div>

            <!-- Newsletter Column -->
            <div class="col-md-3 col-sm-6">
                <h5 class="text-uppercase mb-3">Newsletter</h5>
                <p>Subscribe to get the latest updates:</p>
                <form action="#" method="POST">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Copyright Section -->
        <div class="row mt-4">
            <div class="col text-center">
                <p>&copy; 2024 Your Company Name. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>